@import url('https://fonts.googleapis.com/css2?family=Silkscreen&display=swap');

:root{
    --brown: #683b0b;
    --lavender: #c3a7dd;
    --dark-lavender: #9a6ec1;
    --purple: #523969;
    --yellow: #f9d27d;
    --orange: #d35400;
    --dark-orange: #a04000;
    --cream: #fdf1d4;
}

body {
    font-family: 'Silkscreen', sans-serif;
    background-color: var(--lavender);
    color: var(--brown)
}

.navbar {
    background-color: #c3a7dd; /* light lavender/purple */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    z-index: 2;
    position: absolute;
    top: 0;
    width: 100%;
}

.navbar a {
    color: var(--purple);
    text-decoration: none; 
}

.navbar a:hover {
    color: var(--dark-lavender); 
}

.home-background {
    background-image: url("/static/images/baking_bg-page-001.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.home-box {
    background-color: var(--yellow);
    color: var(--brown);
    border: 5px solid var(--orange);
    border-radius: 18px;
    padding: 2.5rem;
    box-shadow: 10px 10px 0 var(--dark-orange);
    position: relative;
    max-width: 750px;
    text-align: center;
    display: inline-block;
}

.btn-purple {
    background-color: var(--lavender);
    color: var(--purple);
    border: 3px solid var(--purple);
    border-radius: 15px;
    box-shadow: var(--purple) 4px 4px 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
}

.btn-purple-same-size {
    width: 150px; 
    background-color: var(--lavender);
    color: var(--purple);
    border: 3px solid var(--purple);
    border-radius: 15px;
    box-shadow: var(--purple) 4px 4px 0;
    padding: 10px 20px;
    text-align: center;
    font-size: 25px;
}

.btn-purple-same-size:hover {
    background-color: var(--lavender);
}
  
.btn-purple:hover {
    background-color: var(--lavender);
}

.header-banner {
    background-color: var(--orange);
    height: 20px;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.banner-text {
    font-size: 1.25rem;
    color: white;
    margin: 0;
}

.learn-background {
    background-image: url("/static/images/learn_bg.jpg"); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.notebook-container {
    background-color: var(--cream);
    border: 5px solid var(--orange);
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 10px 10px 0 var(--dark-orange);
    max-width: 800px;
    text-align: center;
    position: relative;
}

.notebook-title {
    color: #d4a017;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.notebook-subtitle {
    color: var(--dark-orange);
    font-size: 1.75rem;
    margin-bottom: 1rem;
}

.notebook-text {
    color: #c0392b;
    font-size: 1.25rem;
    margin-bottom: 2rem;
}

.notebook-list {
    color: var(--brown);
    font-size: 1.2rem;
}

.notebook-list a{
    color: var(--brown);
    text-decoration: underline;
}


.category-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 1rem 0rem;
}

.category {
    text-align: center;
    padding: 1rem 1rem;
    border-radius: 10px;
}

.category.visited {
    background-color: var(--yellow);
}

.category-text {
    font-size: 1.5rem;
    color: var(--brown);
    margin: 0.5rem 0rem 0rem 0rem;
}

.category-image {
    width: 150px;
    height: auto;
    image-rendering: pixelated; /* Ensures the pixel art style */
    transition: transform 0.3s ease; /* Smooth scaling effect */
}

.category-image:hover {
    transform: scale(1.2); /* Scales the image to 120% of its size */
}

.water-background {
    background-image: url("/static/images/water_bg.jpg"); /* Replace with your background image */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
}

.ingredient-container {
    align-items: center;
    padding: 1rem;
    background-color: #fdf1d4;
    border: 5px solid #d35400;
    border-radius: 15px;
    box-shadow: 10px 10px 0 #a04000;
    max-width: 900px;
    width: 90%;
    max-height: 500px;;
    text-align: left;
}

.ingredient-content {
    /* flex: 1; */
    padding: 2rem;
}

.ingredient-image-container {
    /* flex: 1; */
    padding: 1rem;
}

.ingredient-image {
    max-width: auto;
    max-height: 470px;
    border: 5px solid #d35400;
    border-radius: 10px;
    box-shadow: 5px 5px 0 #a04000;
}

.substitutes-container {
    background-color: #fdf1d4;
    border: 5px solid #d35400;
    border-radius: 15px;
    padding: 2rem;
    box-shadow: 10px 10px 0 #a04000;
    max-width: 900px;
    min-height: 700px;
    width: 100%;
    text-align: center;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.substitutes-title {
    color: #d4a017;
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.substitutes-grid {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 1rem;
}

.substitute-card {
    background-color: #fff;
    border-radius: 10px;
    border: 3px solid #d35400;
    box-shadow: 5px 5px 0 #a04000;
    padding: 1rem;
    width: 250px;
    text-align: left;
    display: inline-block;
    vertical-align: top;
}

.substitute-title {
    color: white;
    font-size: 1.2rem;
    padding: 0.5rem;
    border-radius: 5px;
    margin-bottom: 1rem;
    cursor: pointer;
}

.substitute-text {
    color: var(--brown);
    font-size: 1rem;
    line-height: 1.5;
}

/* .substitute-content {
    overflow: hidden;
    transition: all 0.3s ease;
    opacity: 0;
    height: 0;
}

.substitute-content.expanded {
    opacity: 1;
    height: auto;
} */

.progress-container {
    width: 100%;
    background-color: var(--cream);
    border: 2px solid var(--dark-orange);
    border-radius: 10px;
    margin: 1rem 0;
    height: 20px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--orange); /* Green progress bar */
    transition: width 0.3s ease;
}

.progress-text {
    font-size: 0.8rem;
    color: var(--dark-orange);
    text-align: center;
}

.category-link.disabled {
    color: gray;
    pointer-events: none; /* Prevent clicking */
    opacity: 0.5; /* Make it visually distinct */
}

.emphasis {
    color: var(--orange);
    font-weight: bold;
}