{% extends "layout.html" %}
{% block content %}

<link href="https://fonts.googleapis.com/css2?family=Silkscreen&display=swap" rel="stylesheet">

<div class="home-background text-center d-flex justify-content-center align-items-center" style="min-height: 100vh;">
    <div class="home-box">
        <div class="header-banner text-center py-3"></div>
        <h1 class="display-5 fw-bold">Baking Substitutions 101</h1>
        <p class="lead" style="color: #d4a017">Cook Smarter With What You Have!</p>
        <a href="/learn/1" class="btn btn-lg btn-purple-same-size mt-3 me-3">LEARN</a>
        <a href="/quiz/1" class="btn btn-lg btn-purple-same-size mt-3">QUIZ</a>
    </div>
  </div>

{% endblock %}
