{% extends "layout.html" %}
{% block content %}
<div class="container py-5">
    <h2>Sample learn title</h2>
    <p>Sample learn content</p>
    <p><a href="/three-tab">Three tabs</a> </br>
        <a href="/mc-choice">MC Choice</a></br>
        <a href="/drag-drop">Drag drop</a>
    </p>

    <form method="POST" action="/learn/{{ next_lesson }}">
        <input type="hidden" name="lesson_num" value="{{ lesson_num }}">
        <button type="submit" class="btn btn-outline-primary mt-3">Next</button>
    </form>
</div>
{% endblock %}
