{% extends "layout.html" %}
{% block content %}

<div class="learn-background text-center d-flex justify-content-center align-items-center">
    <div class="notebook-container">
        <h1 class="notebook-title">Substitution Categories!</h1>
        <p class="notebook-text">Now, Let's Take a Deep Dive into Why Each Substitution Works!</p>
        <div class="button-container">
            <a href="/" class="btn btn-purple">BACK</a>
            <a href="/learn/2" class="btn btn-purple">NEXT</a>
        </div>
    </div>
</div>

{% endblock %}