{% extends "layout.html" %}
{% block content %}

<div class="learn-background text-center d-flex justify-content-center align-items-center">
    <div class="notebook-container">
        <h1 class="notebook-title">Pick a Category to Explore:</h1>
        <div class="category-container">
            <div class="category">
                <a href="/learn/{{homes[0]}}" class="category-link">
                    <img src="/static/images/egg.png" alt="Eggs" class="category-image">
                </a>
                <p class="category-text">EGGS!</p>
            </div>
            <div class="category">
                <a href="/learn/{{homes[1]}}" class="category-link">
                    <img src="/static/images/milk.png" alt="Dairy" class="category-image">
                </a>
                <p class="category-text">DAIRY!</p>
            </div>
            <div class="category">
                <a href="/learn/{{homes[2]}}" class="category-link">
                    <img src="/static/images/gluten.png" alt="Gluten" class="category-image">
                </a>
                <p class="category-text">GLUTEN!</p>
            </div>
        </div>
        <a href="/learn/1" class="btn btn-purple">BACK</a>
    </div>
</div>
<script>
    $(document).ready(function() {
        $('.category-link').each(function() {
            const $link = $(this);
            const href = $link.attr('href');
            const $categoryDiv = $link.closest('.category');
    
            // Check sessionStorage instead of localStorage
            if (sessionStorage.getItem('visited_' + href)) {
                $categoryDiv.addClass('visited');
            }
    
            $link.on('click', function() {
            sessionStorage.setItem('visited_' + href, 'true');
            });
        });
    });
  </script>
{% endblock %}