{% extends "layout.html" %}
{% block content %}

<div class="water-background text-center d-flex justify-content-center align-items-center">
    <div class="ingredient-container d-flex">
        <div class="ingredient-content">
            <div class="progress-container">
                <div class="progress-bar" style="width: {{ progress_percentage }}%;"></div>
            </div>
            <p class="progress-text">Lesson {{ current_lesson }} of 12 ({{ progress_percentage }}% complete)</p>
            <h1 class="notebook-title">{{ general.title }}!</h1>
            
            {% if contents.uses %}
            <h2 class="notebook-subtitle">Uses:</h2>
            <ul class="notebook-list">
                {% for use in contents.uses %}
                <li>
                    {% if use.link %}
                    <a href="{{ url_for('get_definition', term=use.text, back_index=next_index-1) }}" class="notebook-link">{{ use.text }}</a>
                    {% else %}
                    {{ use.text }}
                    {% endif %}
                </li>
                {% endfor %}
            </ul>
            {% endif %}
            
            <a href="/learn/{{ back_index }}" class="btn btn-purple">BACK</a>
            <a href="/learn/{{ next_index }}" class="btn btn-purple">NEXT</a>
        </div>
        <div class="ingredient-image-container">
            <img src="{{ general.image }}" alt="{{ general.title }}" class="ingredient-image">
        </div>
    </div>
</div>

{% endblock %}